/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
 
    font-family: "Gideon Roman", sans-serif;
}

h1, h2, h3 {
    font-family: 'Gideon Roman', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

/* Header */
header {
    color: black;
    background: url("../images/marble-background.jpg") no-repeat center center/cover;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu{
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > a {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background: url("../images/marble-background.jpg") no-repeat center center/cover;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
     /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 80;
    display: flex;
    flex-direction: column;
    color: black;
}

/* Hero Section */
#hero {
    height: 1250px;
    width: 100%;
    background: url("../images/Constantinople.webp") no-repeat center center/cover;
    position: relative;
    
}

#cover-text {
    background-color: antiquewhite;
    opacity: .7;
    font-size: 180%;
    position: relative;
    top: 300px;
    width: 80%;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 10px;
}   

#cover-text > h2, #cover-text > h3 {
    color: black;
}

 /* Geography page*/
 #geography {
    background: url(../images/oldparchment.jpeg) no-repeat center center/cover;
    width: 100%;
    line-height: 1em;
 }

 /* Major Cities */
 #majorcities {
    background: url(../images/oldparchment.jpeg) no-repeat center center/cover;
    width: 100%;
    line-height: 1em;
 }
    
    /* Footer */
#social-networks-and-links {
    text-align: center;
    padding: 20px 0;
    bottom: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 1rem;
    background: url("../images/marble-background.jpg") no-repeat center center/cover;
}

#social-networks-and-links i {
    font-size: 200%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        color: black;
    }

    #menu {
        display: flex;
    } 

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 76px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate large header */
        margin-top: 79px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

#historical-eras {
    width: 100%;
    background: url("../images/oldparchment.jpeg") no-repeat center center/cover;
}

#historical-eras h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#early-period>div,
#late-period>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#time-periods p {
    color: black;
    padding: 0 20px;
}

#time-periods hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/easternromanemblem.jpg") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
 #time-periods-image {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #regional-capitals p {
    color: black;
    padding: 0 20px;
    line-height: 20px;
    margin-bottom: 20px;
 }

 #regional-capitals hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#regional-capitals-image {
    background: url("../images/constantinople.jpg") no-repeat top center / cover;
    height: 35vw;
    width: 95vw;
    margin-bottom: 20px;
}

/* Form */
#newsletter {
    background-image: url("../images/ruinsofconstantinople.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Form */
    #newsletter {
        background-position: center;
        position: relative;
    }

    #signup-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}